* {    
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vh;
  height: 50vh;
  border: 2px solid green;
}

.grid-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  
  border: 2px solid blue;
  box-sizing: border-box;
  overflow: hidden;
}

.grid-row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.grid-cell {
    width: 25px;
    height: 25px;
    background-color: red;
    border: 1px solid black;
    box-sizing: border-box;
}