* {    
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.etch-a-sketch {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  
  border: 2px solid blue;
  box-sizing: border-box;
  overflow: hidden;
}

.block-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.block {
    width: 25px;
    height: 25px;
    background-color: red;
    border: 1px solid black;
    box-sizing: border-box;
}